@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
  --font-sans: "Open Sans", sans-serif;
}

/*HTML Estilos Globlales*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*ANIMACIÓN DE SCROLL*/
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 100s linear infinite; 
}